---
layout: archive
title: Архив
permalink: /archive/
---

{% for post in site.posts %}
  {% capture month %}{{ post.date | date: '%m%Y' }}{% endcapture %}
  {% capture nmonth %}{{ post.next.date | date: '%m%Y' }}{% endcapture %}
    {% if month != nmonth %}
      {% if forloop.index != 1 %}</ul></div>{% endif %}

      <div class="posts content-block">
        <span class="content-block-title">
          <span class="capitalize-first-letter dib">
            {{ post.date | localize: "%b" }}
          </span>
          {{ post.date | localize: "%Y" }}
        </span>
        <ul class="pl0 lsn mb0 post-list">
    {% endif %}
      {% include post_layout_small.html %}
{% endfor %}
