---
layout: archive
title: Архив
permalink: /archive/
---

{% for post in site.posts %}
  {% capture month %}{{ post.date | date: '%m%Y' }}{% endcapture %}
  {% capture nmonth %}{{ post.next.date | date: '%m%Y' }}{% endcapture %}
    {% if month != nmonth %}
      {% if forloop.index != 1 %}</ul></div>{% endif %}

      <div class="posts content-block">
        <span class="content-block-title">
          {{ post.date | localize: "%b %Y" }}
        </span>
        <ul class="pl0 lsn mb0 post-list">
    {% endif %}
    <li class="wrap">
      <a a href="{{ post.url }}" class="title">{{ post.title }}</a>

      <p class="excerpt">
        {{ post.content | strip_html | truncatewords: 40 }}
      </p>
    </li>
{% endfor %}
