html {
  // position: relative;
  // min-height: 100%;
}

body {
  // margin-bottom: $footer-height;
  background: #fafafa;
  font-family: $font-san-francisco;
  // line-height: 1.5em;
  // padding-top: 100px;
}

body {
  // display: flex;
  min-height: 100vh;
  // flex-direction: column;
}

.header, .footer {
  // background: #eee;
  // padding: 10px;
}

.main {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.main-content{
  padding-right: 10px;
  padding-bottom: 30px;

  @media(max-width: 992px){
    padding-right: 0;
  }
}

.sidebar {
  padding-left: 10px;
}

.sidebar {
  // background: seagreen;
  a {
    // color: #fff;
    // display: block;
  }
}

a, button, svg{
  transition: all 0.17s ease-in-out;
}

@media screen and (min-width: 768px) {
  .main {
    flex-direction: row-reverse;
  }

  .main-content {
    flex: 1;
    width: 75%;
  }

  .sidebar {
    width: 25%;
  }
}

@media screen and (max-width: 1024px) {
  .container{
    width: 100%;
  }
}

h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
  // font-family: $serif;
  &:first-child {
    margin-top: 0px;
  }

  &:last-child {
    margin-bottom: 0px;
  }
}

@for $i from 1 through 6{
  h#{$i}, .h#{$i}{
    @media(max-width: 992px){
      font-size: 36 - (3 * $i) + px;
    }
    @media(max-width: 768px){
      font-size: 28 - (3 * $i) + px;
    }
  }
}

img {
  max-width: 100%;
}

a{
  transition: all .2s;
  color: $blue;
  &:hover{
    // color: darken($blue, 10%);
    cursor: pointer;
  }
}

.container{
  max-width: 1024px;
  margin: 0 auto;

  @media (max-width:1024px){
    padding-left: 15px;
    padding-right: 15px;
  }
}

::selection {
  color: #fff;
  background: $blue;
}

.media {
  display: flex;
  align-items: flex-start;

  &-center {
    align-items: center;
  }

  &-body{
    flex: 1;
  }
}

.capitalize-first-letter{
  &:first-letter {
    text-transform: uppercase;
  }
}

.fake-table{
  display: table;

  &-row{
    display: table-row;
  }

  &-cell{
    display: table-cell;
  }
}
