footer.main-footer {
  padding: 20px 0;
  border-top: 1px solid #eceff2;
  color: #565a5f;
}

.footer-links{
  a{
    font-size: 25px;
    display: inline-block;
    margin-right: 5px;
    &:last-child{
      margin-right: 0;
    }
  }
}
