header.main-header{
  padding: 10px 15px;
  // margin-bottom: 20px;

  background: darken($blue, 20%);
  width: 100%;
  z-index: 20;
  // font-size: .875rem;
  // font-weight: 400;
  top: 0;
  border-bottom: none;
  position: fixed;
  // height: 64px;

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  @media(max-width: 768px){
    position: absolute;
  }

  .ico-search{
    color: #fff;
  }
}

.header{
  &-description{
    text-transform: uppercase;
    color: #999;
    padding-left: 10px;
    padding-top: 5px;
    text-align: center;
  }

  &-logo-block{
    flex-grow: 1;
  }

  &-logo{
    color: #fff;
    display: table;

    &:hover{
      color: #fff;
      text-decoration: none;
    }
  }

  &-menu{
    margin-right: 20px;

    li{
      float: left;
      margin-right: 20px;

      &:last-child{
        margin-right: 0;
      }

      &.active{
        a{
          border-bottom: 2px $blue solid;
        }
      }
    }

    a{
      display: block;
      color: #fff;
      padding: 3px 5px;
      border-bottom: 2px transparent solid;
      text-decoration: none;
    }
  }

  &-action-button{
    color: #fff;
    padding: 8px 20px;
    background: $green;
    border-radius: 4px;

    &:hover{
      background: darken($green, 5%);
      color: #fff;
      text-decoration: none;
    }
  }
}

.search-overlay{
  display: none;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background: rgba(#333, 0.5);
  z-index: 100;
}

.search-wrapper{
  background: #fff;
  position: absolute;
  top: 100px;
  left: 50%;
  transform: translateX(-50%);
  // padding: 20px;
  width: 400px;
}

#search-input{
  width: 100%;
  border: none;
  outline: none;
  font-size: 16px;
  box-shadow: none;
  font-weight: 200;
  border-radius: 0;
  background: #fff;
  line-height: 20px;
  padding: 12px 28px 12px 20px;
  border-bottom: 1px solid #e2e2e2;
}

#results-container{
  // padding-top: 10px;
}

.search-no-result-text{
  padding: 8px 15px;
  margin: 0;
}

#search-container{
  ul{
    padding-left: 0;
    margin-bottom: 0;
  }

  li{
    list-style: none;
  }

  a{
    display: block;
    padding: 8px 15px;
    // font-weight: bold;
    color: #333;
    // font-size: 13px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    &:hover{
      background: $blue;
      color: #fff;
      text-decoration: none;
    }
  }
}
