header.main{
  // padding: 20px 0;
  margin-bottom: 20px;
  // background: #333;
}

.header-description{
  // text-transform: uppercase;
  color: #999;
  // padding-left: 10px;
  padding-top: 5px;
  margin-bottom: 0;
  text-align: center;
  // font-size: 13px;

  // display: none;
}

.header-logo{
  float: left;
  padding: 20px;
  padding-left: 0;
  // border-left: 1px #ddd solid;
  // border-right: 1px #ddd solid;
  // border-bottom: 1px #ddd solid;
  .ico-logo{
    // color: #fff;
    height: 30px;
    width: auto;
  }
}

.header-logo-text{
  // text-transform: uppercase;
  color: #333;
  font-size: 30px;
  display: block;
  line-height: 1;
}

.header-search{
  float: right;

  .ico-search{
    color: #333;
  }
}

.header-menu{
  float: left;
  padding-left: 20px;
  li{
    float: left;
    margin-right: 15px;

    &:last-child{
      margin-right: 0;
    }

    &.active{
      a{
        color: red;
      }
    }
  }

  a{
    font-size: 16px;
    display: block;
    padding: 38px 10px;
  }
}

.search-overlay{
  display: none;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background: rgba(#333, 0.5);
  z-index: 100;
}

.search-wrapper{
  background: #fff;
  position: absolute;
  top: 100px;
  left: 50%;
  transform: translateX(-50%);
  // padding: 20px;
  width: 400px;
}

#search-input{
  width: 100%;
  border: none;
  outline: none;
  font-size: 16px;
  box-shadow: none;
  font-weight: 200;
  border-radius: 0;
  background: #fff;
  line-height: 20px;
  padding: 12px 28px 12px 20px;
  border-bottom: 1px solid #e2e2e2;
}

#results-container{
  // padding-top: 10px;
}

.search-no-result-text{
  padding: 8px 15px;
  margin: 0;
}

#search-container{
  ul{
    padding-left: 0;
    margin-bottom: 0;
  }

  li{
    list-style: none;
  }

  a{
    display: block;
    padding: 8px 15px;
    // font-weight: bold;
    color: #333;
    // font-size: 13px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    &:hover{
      background: $blue;
      color: #fff;
      text-decoration: none;
    }
  }
}
