.content-block{
  border: 1px solid #ddd;
  border-top: 4px solid $blue;
  border-radius: 4px;
  margin-bottom: 40px;
  position: relative;
  padding-top: 20px;
  background: #fff;
  box-shadow: 0 1px 2px rgba(0,0,0,0.05);

  &-title{
    position: absolute;
    top: 0%;
    left: 15px;
    background: $blue;
    border-radius: 4px;
    padding: 0 10px;
    color: #fff;
    height: 24px;
    line-height: 24px;
    transform: translateY(-50%);
  }

  &._padding{
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
  }

  &._padding-none{
    padding: 0px;
  }

  &._padding-big{
    padding-top: 40px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
  }

  &._no-border{
    border: none;
    &:after{
      display: none;
    }
  }

  &__settings{
    position: absolute;
    top: 0%;
    right: 15px;
    background: $blue;
    border-radius: 4px;
    padding: 0 10px;
    color: #fff;
    height: 24px;
    transform: translateY(-50%);
  }
}

.post-share-block{
  li{
    float: left;
    margin-right: 10px;

    &:last-child{
      margin-right: 0;
    }
  }
  a{
    display: block;
  }
  .ico-vk,
  .ico-facebook,
  .ico-twitter,
  .ico-linkedin{
    color: #ddd;
    width: 20px;
  }
}
