.sidebar {
  > *:last-child {
    margin-bottom: 20px;
  }

  .ico-plus {
    width: 16px;
    height: 16px;
    margin-right: 5px;
    color: #bbb;
  }

  .ico-issue-opened {
    width: 16px;
    height: 16px;
    margin-right: 5px;
    color: #bbb;
  }
}

.widget-menu {
  li {
    &.active {
      a {
        background: lighten($blue, 40%);
        border-left: 2px $blue solid;
      }
    }
  }

  a {
    padding: 5px 15px 5px 13px;
    border-left: 2px transparent solid;
    display: block;
    color: #333;
    text-decoration: none;

    &:only-hover {
      background: lighten($blue, 40%);
    }
  }
}

.widget-tags {
  ul {
    padding: 0 10px;

    a {
      display: inline-block;
      padding: 0 5px;
      color: #333;

      &:after {
        content: ',';
      }
    }

    li {
      &:last-child {
        a {
          &:after {
            display: none;
          }
        }
      }
    }
  }

  .more-link{
    display: block;
    text-align: center;
    margin: 5px auto;
    padding: 0 15px;
    color: #999;
    text-decoration: none;
    &:hover{
      background: lighten($blue, 40%);
    }
  }
}

.widget-statistic {
  li {
    float: left;
    width: 33.33333%;
    text-align: center;
  }

  .text {
    display: block;
  }

  .count {
    font-size: 20px;
    display: block;
  }
}

.widget-news {
  a {
    padding: 5px 15px;
    display: block;

    &:hover {
      background: lighten($blue, 40%);
    }
  }

  .text {
    display: block;
    line-height: 20px;
    color: #333;
  }
}

.widget-buttons {
  a {
    padding: 5px 15px;
    display: block;
    color: #333;
    text-decoration: none;

    &:only-hover {
      background: lighten($blue, 40%);
    }
  }
}
