<header class="main-header">
  <div class="container media media-center">
    <div class="media-body">
      <div class="header-logo">
        <a href="{{ site.baseurl }}/" class="no-underline">
          {% include svg/logo.svg %}
          <p class="header-description">
            Блог веб разработчика
          </p>
        </a>
      </div>
    </div>

    <div class="header-search">
      <span class="cur" id="search-open">
        {% include svg/search.svg %}
      </span>

      <div class="search-overlay" id="search-overlay">
        <div class="search-wrapper" id="search-wrapper">
          <div id="search-container" class="">
            <input type="text" id="search-input" class="" placeholder="поиск...">
            <ul id="results-container"></ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>
