<header class="main-header">
  <div class="header-logo-block">
    <a href="/" class="header-logo">
      {% include svg/logo.svg %}
    </a>
  </div>

  <ul class="lsn pl0 mb0 header-menu">
    <li{% if page.url == '/' %} class="active"{% endif %}>
      <a href="{{ site.baseurl }}/" title="Блог">Главная</a>
    </li>

    <!-- <li{% if page.url == '/about/' %} class="active"{% endif %}>
      <a href="{{ site.baseurl }}/about/" title="О блоге">О блоге</a>
    </li> -->

    <!-- <li{% if page.url == '/resume/' %} class="active"{% endif %}>
      <a href="{{ site.baseurl }}/resume/" title="Резюме">Резюме</a>
    </li> -->

    <li>
      <a href="http://vaeum.com/styleguide/" target="_blank" title="Style Book">
        Style Book
      </a>
    </li>

    <li{% if page.url == '/archive/' %} class="active"{% endif %}>
      <a href="{{ site.baseurl }}/archive/" title="Архив">Архив</a>
    </li>

    <li{% if page.url == '/twitter/' %} class="active"{% endif %}>
      <a href="{{ site.baseurl }}/twitter/" title="twitter">Twitter</a>
    </li>
  </ul>

  {% if page.excerpt %}
    <a
      href="http://prose.io/#vaeum/vaeum.github.io/edit/dev/{{page.path}}"
      target="_blank"
      class="header-action-button"
    >
      Редактировать
    </a>
  {% else %}
    <a
      href="http://prose.io/#vaeum/vaeum.github.io/new/dev/_drafts"
      target="_blank"
      class="header-action-button"
    >
      Добавить статью
    </a>
  {% endif %}

  <!-- <div class="header-search">
    <span class="cur" id="search-open">
      {% include svg/search.svg %}
    </span>
  </div> -->
</header>

<div class="search-overlay" id="search-overlay">
  <div class="search-wrapper" id="search-wrapper">
    <div id="search-container" class="">
      <input type="text" id="search-input" class="" placeholder="поиск...">
      <ul id="results-container"></ul>
    </div>
  </div>
</div>

<div class="modern-upbutton" title="" data-scroll="up" data-pos="0">
  <div class="highlight-area">
    <div class="subscripted-arrow">
      <span>наверх</span>
    </div>

    <!-- <div class="modern-upbutton-disable">
      <span title="Скрыть кнопку">убрать<span>
    </div> -->
  </div>
</div>
