<li{% if page.url == '/' %} class="active"{% endif %}>
  <a href="{{ site.baseurl }}/" title="Блог">Главная</a>
</li>

<!-- <li{% if page.url == '/about/' %} class="active"{% endif %}>
  <a href="{{ site.baseurl }}/about/" title="О блоге">О блоге</a>
</li> -->

<!-- <li{% if page.url == '/resume/' %} class="active"{% endif %}>
  <a href="{{ site.baseurl }}/resume/" title="Резюме">Резюме</a>
</li> -->

<li>
  <a href="http://vaeum.com/styleguide/" target="_blank" title="Style Book">
    Style Book
  </a>
</li>

<li{% if page.url == '/archive/' %} class="active"{% endif %}>
  <a href="{{ site.baseurl }}/archive/" title="Архив">Архив</a>
</li>

<li{% if page.url == '/twitter/' %} class="active"{% endif %}>
  <a href="{{ site.baseurl }}/twitter/" title="twitter">Twitter</a>
</li>
