<li class="wrap">
  <h2 class="title">
    <a href="{{ post.url }}">{{ post.title }}</a>
  </h2>

  <div class="post-meta">
    <ul class="pl0 mb0 clearfix lsn">
      <li>
        {% include svg/calendar.svg %}
        <span>{{ post.date | localize: "%d %B %Y" }}</span>
      </li>
      <li>
        {% include svg/file-directory.svg %}
        {% for category in post.categories %}<a href="/categories/{{category}}/">{{category}}</a>{% endfor %}
      </li>
    </ul>
  </div>

  {% if post.image %}
    <img src="{{post.image}}" class="post-img">
  {% endif %}

  <p class="excerpt">
    {{ post.content | strip_html | truncatewords: 40 }}
  </p>

  <div class="media media-center">
    <div class="media-body">
      <div><a href="{{ post.url }}" class="post-readmore">Читать далее</a></div>
    </div>
    <ul class="pl0 mb0 clearfix lsn post-share-block">
      <li><a onclick="Share.vk('http://vaeum.com{{ post.url }}','{{ post.title }}','{% if post.image %}http://vaeum.com{{post.image}}{% endif %}','{{ post.content | strip_html | truncatewords: 30 }}')">{% include svg/vk.svg %}</a></li>
      <li><a onclick="Share.fb('http://vaeum.com{{ post.url }}','{{ post.title }}','{% if post.image %}http://vaeum.com{{post.image}}{% endif %}','{{ post.content | strip_html | truncatewords: 30 }}')">{% include svg/facebook.svg %}</a></li>
      <li><a onclick="Share.tw('http://vaeum.com{{ post.url }}','{{ post.content | strip_html | truncatewords: 20 }}')">{% include svg/twitter.svg %}</a></li>
      <li><a onclick="Share.li('http://vaeum.com{{ post.url }}','{{ post.title }}','{{ post.content | strip_html | truncatewords: 20 }}')">{% include svg/linkedin.svg %}</a></li>
    </ul>
  </div>
</li>
