<nav class="sidebar">
  <div class="hr">
    <span class="hr-text">Меню</span>
  </div>

  <ul class="lsn pl0 mb0 widget-menu">
    <li{% if page.url == '/' %} class="active"{% endif %}>
      <a href="{{ site.baseurl }}/" title="Блог">Блог</a>
    </li>

    <!-- <li{% if page.url == '/about/' %} class="active"{% endif %}>
      <a href="{{ site.baseurl }}/about/" title="О блоге">О блоге</a>
    </li> -->

    <!-- <li{% if page.url == '/resume/' %} class="active"{% endif %}>
      <a href="{{ site.baseurl }}/resume/" title="Резюме">Резюме</a>
    </li> -->

    <li>
      <a href="http://vaeum.com/styleguide/" target="_blank" title="Style Book">
        Style Book
      </a>
    </li>

    <li{% if page.url == '/archive/' %} class="active"{% endif %}>
      <a href="{{ site.baseurl }}/archive/" title="Архив">Архив</a>
    </li>

    <li{% if page.url == '/twitter/' %} class="active"{% endif %}>
      <a href="{{ site.baseurl }}/twitter/" title="twitter">Twitter</a>
    </li>
  </ul>

  <div class="hr">
    <span class="hr-text">Теги</span>
  </div>

  <div class="widget-tags">
    <ul class="lsn mb0">
      {% assign tags = site.tags | sort %}
      {% for tag in tags limit: 10%}
        <li class="dib"><a href="/tag/{{ tag | first | slugify }}/" title="{{ tag[0] | replace:'-', ' ' }}">{{ tag[0] | replace:'-', ' ' }}</a></li>
      {% endfor %}
    </ul>

    {% if site.tags.size > 10 %}
      <a href="/tags/" class="more-link">Все теги</a>
    {% endif %}
  </div>

  <div class="hr">
    <span class="hr-text">Категории</span>
  </div>

  <div class="widget-tags">
    <ul class="lsn mb0">
      {% for category in site.categories limit: 10%}
        {% assign name_category = category | first %}
          <li class="dib"><a href="/categories/{{name_category}}/" title="{{name_category}}">{{name_category}}</a></li>
      {% endfor %}
    </ul>

    {% if site.categories.size > 10 %}
      <a href="/categories/" class="more-link" title="Все теги блога">Все категории</a>
    {% endif %}
  </div>

  <div class="hr">
    <span class="hr-text">Статистика</span>
  </div>

  <ul class="lsn pl0 mb0 clearfix widget-statistic">
    <li>
      <span class="count">{{ site.posts | size }}</span>
      <div class="text">Постов</div>
    </li>
    <li>
      <span class="count">{{ site.categories | size }}</span>
      <div class="text">Категорий</div>
    </li>
    <li>
      <span class="count">{{ site.tags | size }}</span>
      <div class="text">Тегов</div>
    </li>
  </ul>

  <div class="hr">
    <span class="hr-text">Новости</span>
  </div>

  <ul class="lsn pl0 mb0 widget-news">
    {% for post in site.posts %}
      {% if post.news == true %}
        <li>
          <a href="{{ post.url }}" class="no-underline" title="{{ post.title }}">
            <span class="text">{{ post.title }}</span>
          </a>
        </li>
      {% endif %}
    {% endfor %}
  </ul>

  {% if content and page.related %}
    <div class="hr">
      <span class="hr-text">Связанные посты</span>
    </div>
    <ul class="lsn pl0 mb0 widget-news">
    {% for post in site.posts %}
        {% if page.related contains post.title %}
            <li>
              <a href="{{ post.url }}" class="no-underline" title="{{ post.title }}">
                <span class="text">{{ post.title }}</span>
              </a>
            </li>
        {% endif %}
    {% endfor %}
    </ul>
  {% endif %}

  <div class="hr">
    <span class="hr-text">Кнопки</span>
  </div>

  <ul class="lsn pl0 mb0 widget-buttons">
    <li>
      <a href="https://github.com/vaeum/vaeum.github.io/new/dev/_posts" target="_blank">
        {% include svg/plus.svg %}Добавить статью
      </a>
    </li>
    <li>
      <a href="https://github.com/vaeum/vaeum.github.io/issues/new" target="_blank">
        {% include svg/issue-opened.svg %}Добавить issue
      </a>
    </li>
  </ul>
</nav>
