footer {
  // background: #333;
  position: absolute;
  left: 0;
  bottom: 0;
  max-height: $footer-height;
  width: 100%;
  padding: 20px 0;

  padding: 20px 0;
  border-top: 1px solid #eceff2;
  color: #565a5f;
  // font-size: 16px;
  // text-align: center;
}

.footer-links{
  a{
    font-size: 25px;
    display: inline-block;
    margin-right: 5px;
    &:last-child{
      margin-right: 0;
    }
  }
}
