footer {
  // background: #333;
  position: absolute;
  left: 0;
  bottom: 0;
  max-height: $footer-height;
  width: 100%;
  padding: 20px 0;

  padding: 20px 0;
  border-top: 1px solid #eceff2;
  color: #565a5f;
  // font-size: 16px;
  // text-align: center;
}

.footer-links{
  a{
    font-size: 25px;
    display: inline-block;
    margin-right: 5px;
    &:last-child{
      margin-right: 0;
    }
  }

  .fa-linkedin-square{
    color: #0077b5;
    &:hover{
      color: darken(#0077b5, 10%);
    }
  }

  .fa-twitter{
    color: #1da1f2;
    &:hover{
      color: darken(#1da1f2, 10%);
    }
  }

  .fa-github{
    color: #333;
    &:hover{
      color: darken(#333, 10%);
    }
  }

  .fa-rss-square{
    color: #f26522;
    &:hover{
      color: darken(#f26522, 10%);
    }
  }
}
