header.main{
  // background: #84aed9;
  // height: $header-height;

  // position: fixed;
  // z-index: 3;
  // left: 0;
  // right: 0;
  // top: 0;
  padding: 20px 0;
  margin-bottom: 20px;
}

.header-description{
  text-transform: uppercase;
  color: #999;
  padding-left: 10px;
  padding-top: 5px;
  text-align: center;
}

.header-logo{
  float: left;
}
