[class^="ico-"] {
  vertical-align: middle;
  //color: #333;
  display: inline-block;
  fill: currentColor;
  color: inherit;
}

.ico-folder {
  width: 14px;
}

.ico-calendar {
  width: 14px;
}

.ico-search {
  width: 30px;
  height: 30px;
}

.ico-issue-opened {
  width: 14px;
  //color: #fff;
}

.ico-pencil {
  width: 14px;
  //color: #fff;
}

.ico-linkedin {
  width: 24px;
  color: #0077b5;

  &:hover {
    color: darken(#0077b5, 10%);
  }
}

.ico-twitter {
  width: 24px;
  color: $bc-twitter;

  &:hover {
    color: darken($bc-twitter, 10%);
  }
}

.ico-rss {
  width: 30px;
  height: 30px;
  color: $bc-rss-2;

  &:hover {
    color: darken($bc-rss-2, 10%);
  }
}

.ico-github {
  width: 24px;
  color: #333;
}

.ico-plus-small {
  width: 16px;
}

.ico-plus {
  width: 16px;
  height: 16px;
}

.ico-vk {
  width: 24px;
  color: $bc-vkontakte;
  &:hover{
    color: $bc-vkontakte;
  }
}

.ico-facebook {
  width: 24px;
  color: $bc-facebook;
  &:hover{
    color: darken($bc-facebook, 10%);
  }
}

.ico-mail {
  width: 30px;
  height: 30px;
  color: #333;
  &:hover{
    color: darken(#333, 10%);
  }
}
