[class^="ico-"]{
  vertical-align: middle;
  color: #333;
  display: inline-block;
  fill: currentColor;
}

.ico-folder{
  width: 14px;
}

.ico-calendar{
  width: 14px;
}

.ico-search{
  width: 30px;
}

.ico-issue-opened{
  width: 14px;
  color: #fff;
}
