.post-list {
  .wrap{
    padding: 15px 20px;
  }

  .wrap + .wrap {
    border-top: 1px solid #eee;
  }

  .title a{
    display: table;
    margin-bottom: 14px;
    color: #333;
    text-decoration: none;
    &:hover{
      color: $blue;
    }
  }

  .post-meta{
    & + img{
      margin-top: 20px;
    }
    li{
      float: left;
      margin-right: 10px;
      > * {
        vertical-align: middle;
      }
      a{
        margin-right: 5px;
        &:after{
          content: ','
        }
        &:last-child{
          margin-right: 0;
          &:after{
            display: none;
          }
        }
      }
      &:last-child{
        margin-right: 0;
      }
    }
  }

  .post-readmore {
    display: inline-block;
    line-height: 1em;
    padding: 5px 15px;
    border-radius: 4px;
    background: lighten($blue, 5%);
    color: #fff;
    text-decoration: none;

    &:hover {
      background: $blue;
      color: #fff;
    }
  }

  .excerpt {
    margin-bottom: 0;
    color: #999;
    line-height: 1.6em;
    margin: 1.6em 0;
  }
}

.post-year {
  padding-bottom: 10px;
  margin-bottom: 20px;
  position: absolute;
  top: 0%;
  left: 20px;
  font-size: 16px;
  background: $red;
  border-radius: 4px;
  padding: 0 10px;
  color: #fff;
  height: 30px;
  line-height: 30px;
  transform: translateY(-50%);
}

.post-link {
  //font-weight: bold;
  margin-bottom: 10px;
  display: block;
  color: #333;

  &:hover {
    text-decoration: none;
    color: #333;
  }
}

.post-link-text {
  font-size: 16px;
  display: block;
  margin-bottom: 5px;
  color: #2f2f2f;
  font-weight: 700;
}

.post-entry {
  font-size: 14px;
  margin-bottom: 0;
  color: #999;
  line-height: 20px;
}

.post-navigation{
  .prev, .next{
    // display: block;
    // text-align: center;
    // width: 50%;
    font-weight: bold;
    color: #333;
    &:hover{
      // text-decoration: none;
    }
  }
  .prev{
    // float: left;
  }
  .next{
    // float: right;
    text-align: right;
  }
}

.share-block{
  [class^="ico-"]{
    // color: #fff;
    // background: #333;
    width: 30px;
  }
}
