.sidebar-nav{
  ul {
    //padding-left: 0;
    margin-bottom: 0;
  }

  li {
    //list-style: none;
    // border-bottom: 1px #eee solid;

    &:first-child {
      // border-top: 1px #eee solid;
    }

    &.active {
      a {
        background: #eee;
      }
    }
  }

  a {
    padding: 10px 15px;
    display: block;
    color: #2f2f2f;
    font-weight: bold;

    &:hover {
      background: #eee;
      text-decoration: none;
    }
  }
}

.sidebar-title {

}

.tags-list{
  padding: 20px 10px 10px;
  ul {
    //padding-left: 0;
    margin-bottom: 0;
  }

  li {
    //list-style: none;
    // border-bottom: 1px #eee solid;
    float: left;
    margin-right: 5px;
    // display: inline-block;

    &:first-child {
      // border-top: 1px #eee solid;
    }

    &:last-child {
      margin-right: 0;
      a{
        &:after{
          display: none;
        }
      }
    }

    &.active {
      a {
        background: #eee;
      }
    }
  }

  a {
    padding: 5px 0px;
    // display: block;
    color: #2f2f2f;
    font-weight: bold;
    text-transform: capitalize;

    &:after{
      content: ','
    }

    &:hover {
      // background: #eee;
      // text-decoration: none;
    }
  }
}

.sidebar-statistic{
  li{
    float: left;
    width: 33.33333%;
    text-align: center;
  }

  .text{
    display: block;
  }

  .count{
    font-size: 20px;
    display: block;
  }
}
