.sidebar-nav {
  .hr {
    height: 1px;
    background: #ddd;
    position: relative;
    margin-top: 30px;
    margin-bottom: 20px;

    .hr-text {
      left: 15px;
      position: absolute;
      font-size: 13px;
      background: #fff;
      color: #999;
      padding: 0 5px;
      top: 50%;
      transform: translateY(-50%);
    }
  }

  .ico-plus {
    width: 16px;
    height: 16px;
    margin-right: 5px;
    color: #bbb;
  }

  .ico-issue-opened {
    width: 16px;
    height: 16px;
    margin-right: 5px;
    color: #bbb;
  }

  hr {
    margin-top: 10px;
    margin-bottom: 10px;
  }
}

.widget-menu {
  li {
    &.active {
      a {
        background: #eee;
      }
    }
  }

  a {
    padding: 5px 15px;
    display: block;
    color: #2f2f2f;

    &:hover {
      background: #eee;
      text-decoration: none;
    }
  }
}

.widget-tags {
  padding: 0 10px;

  a {
    display: inline-block;
    padding: 0 5px;
    vertical-align: middle;
    color: #333;

    &:after {
      content: ',';
    }
  }

  li{
    display: inline-block;

    &:last-child {
      a{
        &:after {
          display: none;
        }
      }
    }
  }

  .ico-tag{
    margin-right: 5px;
  }
}

.widget-statistic {
  li {
    float: left;
    width: 33.33333%;
    text-align: center;
  }

  .text {
    display: block;
  }

  .count {
    font-size: 20px;
    display: block;
  }
}

.widget-news {
  a {
    padding: 5px 15px;
    display: block;

    &:hover {
      background: #eee;
    }
  }

  .text {
    display: block;
    line-height: 20px;
    color: #333;
  }
}

.widget-buttons{

  a {
    padding: 5px 15px;
    display: block;
    color: #2f2f2f;

    &:hover {
      background: #eee;
      text-decoration: none;
    }
  }
}
