@import "variables";
@import "layout";
@import "header";
@import "footer";
@import "posts";
@import "sidebar";
@import "highlights";
@import "svg-icons";
@import "../bower/font-awesome/scss/font-awesome";
@import "../bower/css.modifiers/src/modifiers";

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: $footer-height + 40px;
  // padding-top: $header-height;
  background: #F6F9FA;
  font-family: $trebuchet;
  font-size: 14px;
}

h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
  &:first-child {
    margin-top: 0px;
  }

  &:last-child {
    margin-bottom: 0px;
  }
}

img {
  max-width: 100%;
}

a{
  transition: all .2s;
  color: $blue;
  &:hover{
    // color: darken($blue, 10%);
    cursor: pointer;
  }
}

// Fixes images in popup boxes from Google Translate
.gmnoprint img {
  // max-width: none;
}

.date {
  // font-style: italic;
  // color: $gray;
}

// Specify the color of the selection

::selection {
  color: #fff;
  background: $blue;
}

.media {
  display: flex;
  align-items: flex-start;
}

.media-center {
  align-items: center;
}

.media-body{
  flex: 1;
}

.border-block{
  // height: 1px;
  width: 100%;
  position: relative;
  border-top:1px solid #999;
  padding-top: 20px;
  margin-bottom: 30px;

  &:last-child{
    margin-bottom: 0;
  }
}

.border-block-title{
  position: absolute;
  left: 15px;
  top: 0;
  transform: translateY(-50%);
  height: 20px;
  line-height: 20px;
  border-radius: 100px;
  background: #999;
  color: #fff;
  padding: 0 10px;
}
