.text-overflow {
  @extend %text-overflow;
  @extend %text-ellipsis;
  @extend %display-block;
}

.text-white {
  color: white(1);
}

.text-black {
  color: black(1);
}

.text-smoothing{
  @extend %text-smoothing;
}

.text-left {
  text-align: left;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.text-justify {
  text-align: justify;
}

.text-nowrap {
  white-space: nowrap;
}

.text-lowercase {
  text-transform: lowercase;
}

.text-uppercase {
  text-transform: uppercase;
}

.text-capitalize {
  text-transform: capitalize;
}
