---
layout: default
---

<div class="content-block">
  <div class="content-block-title">
    Страница категории "{{ page.category}}"
  </div>

  <ul class="pl0 lsn mb0 post-list">
    {% for post in site.categories[page.category] %}
      <li>
        <a href="{{ post.url }}" class="link">
          <span class="media media-center">
            <span class="media-body">
              <span class="text">{{ post.title }}</span>
            </span>
            <span class="time">{{ post.date | localize: "%d %B %Y" }}</span>
          </span>
          <p class="excerpt">
            {{ post.content | strip_html | truncatewords: 15 }}
          </p>
        </a>
      </li>
    {% endfor %}
  </ul>
</div>
