---
layout: default
---

<article class="content-block _padding">
  <span class="content-block-title">
    Статья
  </span>

  <div class="content-block__settings post-edit-links">
    <div class="media media-center">
       <a
         href="https://github.com/vaeum/vaeum.github.io/issues/new?title=Error%20in%20blog%20article&body=link%20to%20file%20{{page.path}}"
         target="_blank"
         class="no-underline media-body">{% include svg/issue-opened.svg %}</a>
       <a
         href="https://github.com/vaeum/vaeum.github.io/edit/dev/{{page.path}}"
         target="_blank"
         class="no-underline">{% include svg/pencil.svg %}</a>
    </div>
  </div>

  <h1 class="post-title">
    {{ page.title }}
  </h1>

  <div class="markdown-body">
    {{ content }}
  </div>

  <div class="media media-center">
    <div class="media-body"></div>
    <ul class="pl0 mb0 clearfix lsn post-share-block">
      <li><a onclick="Share.vk('http://vaeum.com{{ page.url }}','{{ page.title }}','{% if page.image %}http://vaeum.com{{page.image}}{% endif %}','{{ page.content | strip_html | truncatewords: 30 }}')">{% include svg/vk.svg %}</a></li>
      <li><a onclick="Share.fb('http://vaeum.com{{ page.url }}','{{ page.title }}','{% if page.image %}http://vaeum.com{{page.image}}{% endif %}','{{ page.content | strip_html | truncatewords: 30 }}')">{% include svg/facebook.svg %}</a></li>
      <li><a onclick="Share.tw('http://vaeum.com{{ page.url }}','{{ page.content | strip_html | truncatewords: 20 }}')">{% include svg/twitter.svg %}</a></li>
      <li><a onclick="Share.li('http://vaeum.com{{ page.url }}','{{ page.title }}','{{ page.content | strip_html | truncatewords: 20 }}')">{% include svg/linkedin.svg %}</a></li>
    </ul>
  </div>
</article>

{% if page.news == true %}
{% else %}
  <div class="content-block _padding">
    <span class="content-block-title">
      Информация о посте
    </span>

    <dl class="dl-horizontal mb0">
      <dt>Время для чтения</dt>
      <dd>
        {% capture words %}
          {{ content | number_of_words | minus: 180 }}
        {% endcapture %}
        {% unless words contains "-" %}
          {{ words | plus: 180 | divided_by: 180 | append: " минуты" }}
        {% endunless %}
      </dd>

      <!-- <dt>Колличество слов</dt>
      <dd>{{ page.content | number_of_words }}</dd> -->

      <dt>Дата создания</dt>
      <dd>{{ page.date | localize: "%d %B %Y" }}</dd>
    </dl>
  </div>
{% endif %}

{% if page.news == true %}
{% else %}
<div class="content-block _padding">
  {% if page.previous.url %}
    <span class="content-block-title">
      Предыдущий пост
    </span>
  {% endif %}

  {% if page.next.url %}
    <div class="content-block__settings">
      Следующий пост
    </div>
  {% endif %}

  <div class="post-navigation clearfix media media-center">
    {% if page.previous.url %}
      <a class="prev media-body" href="{{page.previous.url}}">
        {{page.previous.title}}
      </a>
    {% endif %}
    {% if page.next.url %}
      <a class="next media-body" href="{{page.next.url}}">
        {{page.next.title}}
      </a>
    {% endif %}
  </div>
</div>
{% endif %}

{% if page.news == true %}
{% else %}
{% if page.uncomplete %}
    <div class="content-block _padding">
      <span class="content-block-title">
        Внимание!!!
      </span>

      <p class="mb0">Пост не закончен, вы можете помочь его закончить, буду рад Вашим
        <a
          href="https://github.com/vaeum/vaeum.github.io/issues/new?title=Коментарий к статье:%20{{ page.title }}&body=ссылка%20на%20статью%20[{{site.url}}{{page.url}}]({{site.url}}{{page.url}})"
          target="_blank"
          aria-hidden="true">
          коментариям
        </a>
        и
        <a
          href="https://github.com/vaeum/vaeum.github.io/edit/dev/{{page.path}}"
          target="_blank"
          aria-hidden="true">
          Pull requests
        </a>
      </p>
    </div>
  {% else %}
    {% if jekyll.environment == "production" %}
      <div class="content-block _padding">
        <span class="content-block-title">
          Комментарии
        </span>

        {% include disqus.html %}
      </div>
    {% endif %}
  {% endif %}
{% endif %}

